<!doctype html>
<html lang="en-US">

	<head>
		<!-- meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="author" content="Albert Choy @askchoy">
		<meta name="description" content="Choy Creative LLC">

		<!-- title -->
		<title>emfwd</title>
	</head>

  <body>
  <table>
  {% for item in items %}
  <TR>
    <TD>{{item.id}}</TD>
		<TD>{{item.title}}</TD>
  </TR>
  {% endfor %}
  </table>
  </body>
</html>
